.container {
    padding: 20px 20px; 
}

.formulario {
    display: flex;
    width: 50%;
}

.transfInfo p {
    display: flex;
    align-items: center;
    margin-top: 10px
}

.transfInfo strong {
    margin-left: 5px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

form button {
    margin-bottom: 6px;
}

input {
    margin-left: 5px;
    border-radius: 5px;
    padding: 7px
}

select {
    margin-left: 5px;
    border-radius: 5px;
    padding: 7px;
}

.formContainer {
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    
   
}

.formContainer button {
    margin-left: 05px;
}

.transferencia {
    display: grid;
    grid-template-columns: 1fr 1fr 
}

.transfCard {
    display: flex;
    margin-top: 20px;
    gap: 150px;
    background-color: rgb(242, 239, 239);
    width: 100%;
    padding: 10px 20px;
    align-items: center;
}


.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.buttonContainer button {
    width: 100%;
}

.dashboard {
    display: flex;
}

