header {
    display: flex;
    background-color: orange;
    color: white;
    justify-content: center;
    padding: 20px 5px
}

.headerContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.logout {
    width: 70%;
    
}

.dashboard {
    display: flex;
    gap: 20px;
    
}

.register {
 display: block;
}